body {
    margin-left: 50px;
    background-color: rgb(39, 45, 51);;
    color: white;
    position: relative;
    z-index: 1;
}
.header-section{
    background-color: #282826;
    margin-left: -50px;
    margin-top: -10px;
    margin-bottom: 0px;
    height: 70px;
    display: flex;
    align-items: center;
   
}
.title-section{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 25px;
    height: 100%;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 5px;
    background-color: #222116;
}
.right-section{
    background-color: #1b2216;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
}

.scissor-button {
    background-color: rgb(58, 166, 229);
    border: 2px dotted white;
    font-size: 17px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 60px
    
}
.scissor-button:active {
    opacity: 0.6;
}

.paper-button {
    background-color: rgb(61, 222, 61); 
    border: 2px dotted white;
    font-size: 17px; 
    height: 100px;
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 60px;
}
.paper-button:active {
    opacity: 0.6;
}


.rock-button {
    background-color: #FF8F20; 
    border: 2px dotted white;
    font-size: 17px; 
    height: 100px;
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 20px
}
.rock-button:active {
    opacity: 0.6;
}

.reset-button {
    background-color: transparent; 
    color: white; 
    border-color: #1ddbb5;
    border-width: 1px;
    border-style: solid;
    font-size: 16px; 
    font-family: 'Times New Roman', Times, serif;
    padding: 8px;
    cursor: pointer;
    height: 42px;
    width: 100px;
    border-radius: 4px;
}
.reset-button:hover{
    color: #dbd51d;
}
.recent-move-rock {
    color: #FF8F20;
}

.recent-move-paper {
    color: rgb(101, 231, 101);
}

.recent-move-scissors {
    color: rgb(85, 167, 215);
}
.description{
    position: fixed;
    top: 320px;
}

.historyList {
    padding-left: 45px;
}
.historyList li:first-child {
  
    font-size: 21px;
}

.historyDispaly{
  
    font-size: 15px;
    margin-top: 10px;
}
.loginButton{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e5f83e;
    height: 40px;
    width: 120px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: opacity 0.1s,
    border-radius 0.1s;

}
.loginButton:hover{
    opacity: 0.8;
    border-radius: 2px;
}
.login-input{
    width: 530px;
    height: 360px;
    background: rgb(47, 58, 30);
    border-radius: 10px;
    border: solid rgb(243, 183, 54);
    border-width: 3px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    position: absolute;
    top: 100px;
    right: 290px;
    z-index: 10;
}
.login details{
    font-size: 15px;
    font-weight: 500;
}
.labels{
    color: #f8cd3e;
    align-items: center;
}
.input{
    height: 25px;
    margin-left: 10px;
    border-width: 1px;
    border: solid rgb(227, 213, 19);
}
.input-gird {
    margin-top: 60px; 
    margin-bottom: 30px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 125px 300px;
    column-gap: 2px;
    row-gap: 15px;
}
.cancel-button{
    font-size: 20px;
    background-color: #e8e35f;
    border: none;
    padding: 0px;
    padding-left: 5px;padding-right: 5px;
    right: 10px;
    opacity: 0.7;
    cursor: pointer;
    margin-left: 510px;
}
.cancel-button:hover{
    opacity: 1;
    background-color: #222116;
    color: white;
}
.login-but{
    display: block;
    margin-left: 375px;
    margin-bottom: -25px;
    width: 100px;
    height: 36px;
    border: solid rgb(227, 213, 19);
    cursor: pointer;
}
.login-but:hover{
    transition: 0.5;
    background-color: #f4ff20;
    border: none;
}
.forgot {
    margin-left: 50px;
    font-size: 15px;
    color: #f3e5da;
    text-decoration: none;
}
.forgot:hover{
    text-decoration: underline;
}
.Sign-button {
    width: 90px;
    height: 32px;
    border-radius: 5px;
    border: solid chocolate;
    border-width: 1px;
    cursor: pointer;
}
.Sign-button:hover{
    transition: 0.5s;
    background-color: #FF8F20;
}
.fix {
    position: fixed;
    top: 220px;
    right: 120px;
    z-index: 5;
    border: solid rgb(208, 153, 203);
    border-width: 1px;
    width: 200px;
    height: 370px;
    border-radius: 5px;
    padding-left: 50px;
}
